.DS_Store
docs/.texpadtmp
docs/pcbgcode.aux
docs/pcbgcode.idx
docs/pcbgcode.ilg
docs/pcbgcode.ind
docs/pcbgcode.lof
docs/pcbgcode.log
docs/pcbgcode.lot
docs/pcbgcode.out
docs/pcbgcode.toc

*.b##
*.s##
~$*.xlsx
viewer/applet/data/optimize_me.txt
viewer/**/optimize_me.txt
